@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    --body-padding-top: 80px;
    background-color: var(--dark-bg);
    color: var(--primary-text-color);
    font-family: var(--main-font-family);
    min-height: 100vh;
    padding-top: var(--body-padding-top);
  }

  #root {
    min-height: calc(100vh - var(--body-padding-top));
  }

  /* default font sizes */

  .header1 {
    font-size: var(--header1-size);
  }
  .header2 {
    font-size: var(--header2-size);
  }
  .paragraph1 {
    font-size: var(--paragraph1-size);
  }
  .paragraph2 {
    font-size: var(--paragraph2-size);
  }
  .paragraph-mini {
    font-size: var(--paragraph-mini-size);
  }

  .primary-btn {
    background-color: var(--primary-button);
    color: var(--primary-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--paragraph2-size);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--primary-button-hover);
    }

    &:active {
      background-color: var(--primary-button-active);
    }
  }

  .svg-btn svg {
    width: 20px;
    height: 20px;
  }

  .icon-btn {
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.67;
    }
  }

  /* hide scrollbar but keep scroll */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

}
