* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: var(--dark-bg);
    color: var(--primary-text-color);
    font-family: var(--main-font-family);
    min-height: 100vh;
}